/* General Styling */

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1100px;
    font: 16px sans-serif;
    background-image: url("../images/image2.jpg");
    background-size: cover;
}

.field_margin {
    margin: 15px 0px;
}

.flex_display {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.active {
    background: #1d45d638;
}

/* Search Fields styling */

.search_section {
    width: 40%;
}

.label_category,
.label_filter {
    padding: 0 20px 0 0;
}

.joke_form {
    display: inline-block;
}

.joke_category {
    height: 22px;
}

.joke-list.error {
    color: red;
    font-size: 20px;
}

.blacklisted_input {
    margin: 0px ​5px 0 -15px;
    position: static;
}

.label-blacklist {
    width: 100%;
}

.filter_joke_keyword {
    width: 94%;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search_button_submit {
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
}

.blacklisted_block {
    max-width: 33%;
    width: 100%;
}

/* Result Container Styling */

.jokes_container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.joke_block {
    margin: 35px 0;
    border: 1px solid;
    padding: 0 10px;
    border-radius: 20px;
    font-family: cursive;
    background: #808080d9;
}

.joke_category_title {
    font-weight: 700;
    text-align: right; 
    font-size: 9px;
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }